@use '@/assets/scss/functions' as *;

.chat-popup {
  position: absolute;
  right: rem(36);
  bottom: rem(62);
  z-index: 1;
  display: flex;
  gap: rem(10);

  &__inner {
    display: flex;
    width: min(100vw - rem(110), 33.125rem);
    height: calc(100svh - rem(119));
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: rem(10);
    background-color: var(--color__white);
    box-sizing: border-box;
    overflow: hidden;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    position: relative;
    display: inline-block;
    color: var(--color__text);
    font-size: rem(40);
    font-weight: 700;

    &::before {
      position: absolute;
      right: rem(-15);
      bottom: rem(5);
      width: rem(10);
      height: rem(10);
      background-color: var(--color__primary-2);
      clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
      content: '';
    }

    span {
      color: var(--color__primary-2);
      font-size: rem(40);
      font-weight: 700;
    }
  }

  &__history {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gothampro', sans-serif;
    border: 0;
    background: transparent;
    background-color: var(--color__gray);
    color: var(--color__story);
    cursor: pointer;
    padding: rem(10);
    border-radius: rem(5);
  }

  &__body {
    position: relative;
    display: flex;
    flex: 1;
    min-height: 0;
    flex-direction: column;
    gap: rem(24);
  }
  
  &__wrapper {
    display: flex;
    min-height: 0;
    flex: 1;
    flex-direction: column;
    gap: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;

    &.--update {
      scroll-snap-type: y mandatory;
    
      .chat-popup__messeges > :last-child {
        scroll-snap-align: end;
      }
    }
  }
  
  &__date {
    width: fit-content;
    align-self: center;
    padding: 1.5rem;
    border-radius: 1.125rem;
    color: var(--color__story);
    background-color: var(--color__gray);
  }
  
  &__messeges {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  &__messege {
    position: relative;
    width: fit-content;
    max-width: calc(100% - 1.0625rem);
    align-self: flex-end;
    margin-right: 1.0625rem;
    padding: 1.5rem;
    border-radius: 1.125rem;
    color: var(--color__text);
    background-color: var(--color__white);
    box-shadow: 0 rem(12) rem(56) 0 var(--box-shadow);
    white-space: pre-line;
    box-sizing: border-box;
    overflow-wrap: break-word;

    &.--bot {
      width: calc(100% - 1.0625rem);
      align-self: flex-start;
      margin-left: 1.0625rem;
      color: var(--color__white);
      background-color: var( --color__primary);

      &::before {
        left: -1.0625rem;
        background-color: var( --color__primary);
        transform: rotate(180deg);
      }
    }

    &::before {
      position: absolute;
      right: -1.0625rem;
      bottom: rem(18);
      width: 1.0625rem;
      height: rem(29);
      background-color: var(--color__white);
      clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
      content: '';
    }
  }

  &__history-view {
    display: flex;
    flex-direction: column;
    gap: rem(12);
  }
  
  &__history-item {
    padding: rem(16);
    border-radius: rem(12);
    background-color: var(--color__gray);
    cursor: pointer;

    &:hover {
      background-color: var(--color__primary);

      .chat-popup__history-name {
        color: var(--color__white);
      }

      .chat-popup__history-inn {
        color: var(--color__white-64);
      }
    }
  }
  
  &__history-name {
    margin: 0 0 rem(6);
    font-weight: 700;
    color: var(--color__name);
  }
  
  &__history-inn {
    margin: 0;
    color: var(--color__inn);
  }
  
  &__search {
    display: flex;
    gap: 0.5rem;
    margin-left: 1.0625rem;
  }
  
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color__info);
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 500;
  }
  
  &__close {
    display: flex;
    width: rem(36);
    height: rem(36);
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    cursor: pointer;
  }
}




@media (max-width: 640px) {
  .chat-popup {
    right: rem(16);
    bottom: rem(86);

    &__inner {
      width: calc(100vw - rem(32));
      height: calc(100svh - rem(120));
      padding: 1rem;
    }
  }

  
}
