.chat-popup {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 36px;
    bottom: 62px;
    z-index: 1;
}

.chat-popup__inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 33.125rem;
    width: 100vw;
    height: calc(100svh - 88px - 31px);
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 10px;
}

/* .chat-popup__header {
    padding: 24px;
    
} */

.chat-popup__title {
    position: relative;
    font-weight: 700;  
    display: inline-block;
    font-size: 40px;
    color: #000000;
}

.chat-popup__title span {
    font-size: 40px;
    font-weight: 700;  
    color: #EB5757;
}

.chat-popup__title::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #EB5757;
    right: -15px;
    bottom: 5px;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.chat-popup__body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
    justify-content: space-between;
}

.chat-popup__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.chat-popup__date {
    width: fit-content;
    padding: 1.5rem;
    color: #001C3D8F;
    background-color: #F5F6F7;
    align-self: center;
    border-radius: 1.125rem;
}

.chat-popup__messeges {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.chat-popup__messege {
    position: relative;
    width: fit-content calc(100% - 1.0625rem);
    align-self: flex-end;
    padding: 1.5rem;
    margin-right: 1.0625rem;
    border-radius: 1.125rem;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 12px 56px 0px #0000000F;
}

.chat-popup__messege.--bot {
    align-self: flex-start;
    width: calc(100% - 1.0625rem);
    margin-left: 1.0625rem;
    background-color: #168DD9;
    color: #ffffff;
}

.chat-popup__messege::before {
    position: absolute;
    content: '';
    width: 1.0625rem;
    height: 29px;
    background-color: #ffffff;
    right: -1.0625rem;
    bottom: 18px;
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}

.chat-popup__messege.--bot::before {
    position: absolute;
    content: '';
    width: 1.0625rem;
    height: 29px;
    background-color: #168DD9;
    left: -1.0625rem;
    bottom: 18px;
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
    transform: rotate(180deg);
}

.chat-popup__search {
    display: flex;
    gap: 0.5rem;
    margin-left: 1.0625rem;
}

.chat-popup__info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
    font-style: italic;
    color: #001C3D7A;
}