.chat-input {
  display: flex;
  width: 100%;
  min-height: 124px;
  flex: 0 0 auto;
  justify-content: space-between;
  gap: 12px;
  border-radius: 12px;
  background-color: #f3f3f3;
  box-sizing: border-box;
}

.chat-input__textarea {
  flex: 1;
  min-width: 0;
  padding: 28px 0 18px 24px;
  border: none;
  outline: none;
  resize: none;
  font-size: 18px;
  background-color: transparent;
}

.chat-input__button {
  position: relative;
  width: 80px;
  flex: 0 0 80px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.chat-input__img {
  position: absolute;
  top: 20px;
  right: 20px;
}
