@use '@/assets/scss/functions' as *;

.chat {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.chat__button {
  position: absolute;
  right: rem(30);
  bottom: rem(30);
  z-index: 2;
  display: flex;
  width: rem(64);
  height: rem(64);
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50%;
  color: var(--color__white);
  background-color: var(--color__primary-2);
  box-shadow: 0 0 0 rem(4) var(--color__white-64);
  cursor: pointer;
}
