.chat-popup {
  position: absolute;
  right: 36px;
  bottom: 62px;
  z-index: 1;
  display: flex;
  gap: 10px;
}

.chat-popup__inner {
  display: flex;
  width: min(100vw - 110px, 33.125rem);
  height: calc(100svh - 119px);
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
}

.chat-popup__title {
  position: relative;
  display: inline-block;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
}

.chat-popup__title span {
  color: #eb5757;
  font-size: 40px;
  font-weight: 700;
}

.chat-popup__title::before {
  position: absolute;
  right: -15px;
  bottom: 5px;
  width: 10px;
  height: 10px;
  background-color: #eb5757;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  content: '';
}

.chat-popup__body {
  position: relative;
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
  gap: 24px;
}

.chat-popup__wrapper {
  display: flex;
  min-height: 0;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-popup__date {
  width: fit-content;
  align-self: center;
  padding: 1.5rem;
  border-radius: 1.125rem;
  color: #001c3d8f;
  background-color: #f5f6f7;
}

.chat-popup__messeges {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.chat-popup__messege {
  position: relative;
  width: fit-content;
  max-width: calc(100% - 1.0625rem);
  align-self: flex-end;
  margin-right: 1.0625rem;
  padding: 1.5rem;
  border-radius: 1.125rem;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 12px 56px 0 #0000000f;
  white-space: pre-line;
}

.chat-popup__messege.--bot {
  width: calc(100% - 1.0625rem);
  align-self: flex-start;
  margin-left: 1.0625rem;
  color: #ffffff;
  background-color: #168dd9;
}

.chat-popup__messege::before {
  position: absolute;
  right: -1.0625rem;
  bottom: 18px;
  width: 1.0625rem;
  height: 29px;
  background-color: #ffffff;
  clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
  content: '';
}

.chat-popup__messege.--bot::before {
  left: -1.0625rem;
  background-color: #168dd9;
  transform: rotate(180deg);
}

.chat-popup__search {
  display: flex;
  gap: 0.5rem;
  margin-left: 1.0625rem;
}

.chat-popup__info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #001c3d7a;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 500;
}

.chat-popup__close {
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 640px) {
  .chat-popup {
    right: 16px;
    bottom: 86px;
  }

  .chat-popup__inner {
    width: calc(100vw - 32px);
    height: calc(100svh - 120px);
    padding: 1rem;
  }
}
